body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    flex: 1;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

form {
    margin: 20px;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form input[type="file"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    opacity: 0.8;
}

h1 {
    text-align: center;
    margin: 20px;
}

.retour {
    background-color: rgb(146, 25, 25);
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.center{
    text-align:center;
}
.center-img{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.list_joueur_match{
    display:block;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ligne{
    background-color: rgb(255, 255, 255);
}

.ligne>td{
    padding:0px;
    margin:0px;
}
.ligne:hover{
    background-color: rgb(83, 83, 83);
    
}