body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 218, 218);
    font-family: 'Roboto', sans-serif;

}

.navbar{
    display:inline-table;
    height: 5vh;
    width: 100vw;
    background-color: rgb(58, 58, 58);
}

.navbar > a{
    margin-right: 3vw;
    color:#fff;
    text-decoration: none;   
}

.list_joueur_match{
    display:block;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.ligne{
    background-color: rgb(255, 255, 255);
}

.ligne>td{
    padding:0px;
    margin:0px;
}
.ligne:hover{
    background-color: rgb(83, 83, 83);
    cursor: pointer;
}